html {
	width: 100%;
}

body {
/*	background-color: black;
*/	background-image: url("../images/circles.png");
}

img {
	display: inline-block;
	margin: 0;
	/*position: absolute;*/
	z-index: 2;
}

#img1 {
	width: 37.5%;
	border: 5px solid blue;
	padding: 5%;
	float: left;
	margin: 0;
}

#img2 {
	width: 37.5%;
	border: 5px solid blue;
	padding: 5%;
	float: right;
	margin: 0;
}

button {
	display: inline;
}