img {
	display: inline-block;
}

.hover {
	border: 5px solid black;
	margin: 50px 50px;
	/*shape-inside: circle(0%, 0%, 0%);*/
	/*shape-padding: 100px;*/
	padding: 100px;
	/*border-radius: 0px;*/
	transition: all 0.5s infinite; 
	/*-webkit-clip-path: circle(0%, 0%, 0%);*/
}

.hover:hover {
	border-radius: 100%;
	padding: 0px;
	width: 100%; /*631px x 575px*/
	/*shape-inside: circle(50% at 50% 50%);*/
	/*-webkit-clip-path: circle(50% at 50% 50%);*/
}

.active {
	border: 5px solid black;
	margin: 50px 50px;
	padding: 50px;
}

.focus {
	border: 5px solid black;
	margin: 50px 50px;
	padding: 50px;
}
