@media only screen and (min-width: 650px) {
	.top-nav {
		width: 100%;
		display: inline-block;
		text-align: center;
		justify-content: center;
	}

	.top-nav ul {
		border-top: 1px solid red;
	}

	.top-nav li {
		display: inline-block;
	}

	.top-nav ul li, .menu-icon{
		border-top: 1px solid black;
	}

	.yellow {
		display: inline-block;
		width: 48%;
		float: left;
	}

	.bluish-purp {
		display: inline-block;
		width: 48%;
		float: right;
	}
}

@media only screen and (min-width: 1000px) {
	.logo {
		display: inline-block;
		float: left;
	}

	.top-nav {
		width: 100%;
		display: inline-block;
		text-align: right;
		justify-content: right;
	}

	.top-nav li {
		display: inline-block;
		margin-top: 2em;
	}

	.top-nav ul {
		border-top: 1px solid black;
	}
	.black {
		width: 48%;
		float: left;
		display: inline-block;
	}

	.maroon {
		width: 48%;
		display: inline-block;
	}

	.yellow {
		width: 23%;
    	float: left;
		display: inline-block;
	}

	.bluish-purp {
		width: 23%;
		float: left;
		display: inline-block;
	}

	.green {
		width: 48%;
    	float: right;
		display: inline-block;
	}

	.light-blue {
		width: 48%;
	    float: left;
		display: inline-block;
	}

	.red {
		width: 48%;
		float: right;
		display: inline-block;
	}
}